image {
    name "Broken Cycle"

    base "quay.io/fedora/fedora-bootc:44" {
        family "fedora"
        provides "rechunking"
    }

    modules {
        module "core/a"
        module "core/b"
    }
}
