description "Hardware token and smartcard auth: YubiKey, FIDO2, PAM and PC/SC"

supports "fedora"

packages {
    fedora "opensc" "pam-u2f" "pam_yubico" "pamu2fcfg" "pcsc-lite" "pcsc-lite-ccid" "yubikey-manager"
}
