image {
    name "Workstation"
    conforms "standard"

    base "quay.io/fedora/fedora-bootc:44" {
        family "fedora"
        provides "rechunking"
    }

    flavours {
        base default=#true
        dev conforms="cusp_fedora"
    }

    modules {
        module "core/shared"

        flavour "dev" {
            module "core/dev-tools"
        }
    }
}
