schema-version 1
name "Broken Bases"

sources {
    base-images "one" {
        dir "collections/one"
    }
    base-images "two" {
        dir "collections/two"
    }
    capabilities "caps" {
        dir "collections/caps"
    }
}
