schema-version 1

sources {
    unmarked {
        pin {
            manual "nothing bumps it"
            version "main"
            url "https://github.com/owner/modules/archive/refs/heads/{version}.tar.gz"
        }
    }
    hashed {
        pin {
            unpinned "trusted"
            version "main"
            url "https://github.com/owner/modules/archive/refs/heads/{version}.tar.gz"
            sha256 "b7c232b0e8249d8e55a40beb79c5c43a7d370f3f9408bd215deb0170daeaadf3"
        }
    }
    twice {
        pin {
            manual "nothing bumps it"
            unpinned "trusted"
            version "main"
            url "https://github.com/owner/modules/archive/refs/heads/{version}.tar.gz"
        }
    }
    here "../modules" {
        pin {
            unpinned "trusted"
        }
    }
}
