schema-version 1
name "Broken Unpinned"

sources {
    modules "unmarked" {
        url "https://github.com/owner/modules"
        version "main"
    }
    modules "hashed" {
        url "https://github.com/owner/modules"
        version "main"
        sha256 "b7c232b0e8249d8e55a40beb79c5c43a7d370f3f9408bd215deb0170daeaadf3"
        unpinned "trusted"
    }
    modules "unselected" {
        url "https://github.com/owner/modules"
        sha256 "b7c232b0e8249d8e55a40beb79c5c43a7d370f3f9408bd215deb0170daeaadf3"
    }
    modules "here" {
        dir "../modules"
        unpinned "trusted"
    }
}
