image {
    name "Suppressed"

    base "ghcr.io/ublue-os/bazzite:stable" {
        family "fedora"
        provides "rechunking" "flatpak"
        provides-file "/usr/bin/flatpak"
    }

    modules {
        module "apps/flatpak" variant="beta" {
            system-wide #false
        }
        module "apps/browser"
    }
}
