description "Xbox controller support via the xone driver, plus gamemode"

supports "fedora"

packages {
    fedora "gamemode"
}

requires "kernel-devel"
requires-file "/usr/share/tectonic/sb_cert.der"
requires-file "/usr/libexec/kernel-devel-helpers.sh"

arg "KERNEL"
secret "mok_privkey"

asset "xone" {
    renovate datasource="git-refs" depName="https://github.com/medusalix/xone"
    version "3484f603484782dd7551c64e5a33fc602b127051"
}
