base {
    image "quay.io/fedora/fedora-bootc:44"
    about "Fedora 44, as this collection describes it"
    family "fedora"
    provides "rechunking" "initramfs-generation" "luks-initramfs" "selinux-policy" "ssh" \
        "bootc" "bootupctl" "podman" "crun"
    scap-content "ssg-fedora-ds.xml"
    signed #false
    bootloader "grub2"
}
