image {
    name "Same"

    base "quay.io/fedora/fedora-bootc:44" {
        family "fedora"
        provides "rechunking"
    }

    modules {
        module "core/hello"
    }
}

image {
    name "Same"

    base "quay.io/fedora/fedora-bootc:44" {
        family "fedora"
        provides "rechunking"
    }

    modules {
        module "core/hello"
    }
}
