schema-version 1

seed "example" collection="tectonic-os"

sources {
    tectonic-os "https://github.com/tectonic-os/modules/archive/refs/tags/{ref}.tar.gz" {
        renovate datasource="github-tags" depName="tectonic-os/modules"
        ref "v1.0.0"
        sha256 "b7c232b0e8249d8e55a40beb79c5c43a7d370f3f9408bd215deb0170daeaadf3"
    }
    scratch "../modules"
}
