image {
    name "Debian"

    base "docker.io/library/debian:forky" {
        family "debian"
    }

    layout {
        filesystem "btrfs"
        bootloader "systemd"
    }

    modules {
        module "debian-family"
        module "core/menu"
        module "core/shared"
    }
}
