image {
    name "Debian"

    base "docker.io/library/debian:forky" {
        family "debian"
    }

    layout {
        filesystem "btrfs" subvolumes=#true
        bootloader "systemd"
        var-disk "/dev/sdb"
    }

    modules {
        module "debian-family"
        module "core/menu"
        module "core/shared"
    }
}
