image {
    name "Debian"

    base "ghcr.io/bootcrew/debian-bootc:latest" {
        family "debian"
        provides "initramfs-generation"
        signed #true
    }

    modules {
        module "debian-family"
        module "core/shared"
    }
}
