image {
    name "Forky"

    base "docker.io/library/debian:forky" {
        family "debian"
        requires "bootc-base"
    }

    modules {
        module "debian-family"
        module "core/bootc-base"
        module "core/confined"
        module "core/shared"
    }
}
