image {
    name "Ubuntu"

    base "ghcr.io/bootcrew/ubuntu-bootc:latest" {
        family "ubuntu"
        provides "initramfs-generation"
        signed #true
    }

    modules {
        module "debian-family"
        module "core/shared"
    }
}
