image {
    name "Ubuntu"

    base "docker.io/library/ubuntu:26.04" {
        family "ubuntu"
    }

    layout {
        bootloader "grub2"
    }

    modules {
        module "debian-family"
        module "core/menu"
        module "core/shared"
    }
}
